<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jingbin.cloudreader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" /><!-- bugly start -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /><!--杀死应用进程-->

    <application
        android:name=".app.App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="m">
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.viewbigimage.ViewBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ViewBigPicTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 打开http或https开头的网页 -->
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.douban.DoubanTopActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.douban.OneMovieDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.film.child.FilmDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.menu.NavHomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomePageTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.menu.NavDeedBackActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.menu.NavAboutActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.menu.NavAdmireActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.menu.NavDownloadActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.wan.child.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.wan.child.ArticleListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.wan.child.MyCollectActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.wan.child.MyCoinActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.wan.child.CategoryDetailActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.menu.SearchActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.bigimage.BigImagePagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppBigImageThem" />

    </application>

</manifest>