<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jingbin.cloudreader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.CloudReaderApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ViewBigPicTheme" />
        <activity
            android:name=".ui.TransitionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ViewBigPicTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.one.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage" />
        <activity
            android:name=".ui.one.SlideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage" />
        <activity
            android:name=".ui.one.SlideScrollViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage" />
        <activity
            android:name=".ui.one.SlideShadeViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage" />
        <activity
            android:name=".ui.one.MovieDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage" />
        <activity
            android:name=".view.viewbigimage.ViewBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ViewBigPicTheme" />
        <activity
            android:name=".view.webview.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.one.DoubanTopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.one.OneMovieDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyScrollPage" />
        <activity
            android:name=".ui.menu.NavHomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menu.NavDeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menu.NavAboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.book.child.BookDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menu.NavDownloadActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>